@model sacramentMeetingPlanner.Models.SacramentMeeting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SacramentMeeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SacramentMeetingID" />
            <div class="form-group">
                <label asp-for="Invocation" class="control-label"></label>
                <input asp-for="Invocation" class="form-control" />
                <span asp-validation-for="Invocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benediction" class="control-label"></label>
                <input asp-for="Benediction" class="form-control" />
                <span asp-validation-for="Benediction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymnID" class="control-label"></label>
                <select asp-for="OpeningHymnID" required class="form-control" asp-items="ViewBag.HymnID">
                    <option value="">Select Hymn</option>
                </select>
                <span asp-validation-for="OpeningHymnID" class="text-danger"></span>
            </div>
            <!-- @* <div class="form-group">
                <label asp-for="HymnID" class="control-label"></label>
                <select asp-for="HymnID" class="form-control" asp-items="ViewBag.HymnID"></select>
                <span asp-validation-for="HymnID" class="text-danger"></span>
            </div> *@ -->
            <div class="form-group">
                <label asp-for="SacramentHymnID" class="control-label"></label>
                <select asp-for="SacramentHymnID" required class="form-control" asp-items="ViewBag.HymnID">
                    <option value="">Select Hymn</option>
                </select>
                <span asp-validation-for="SacramentHymnID" class="text-danger"></span>
            </div>
            <div class="btns-container">
                <div class="form-group">
                    <label asp-for="MusicalNumberID" class="control-label" id="musicalNumberLabel"></label>
                    <button id="addMusicalNumber" type="button">Add <i class="fa-solid fa-plus"></i></button>
                    <select asp-for="MusicalNumberID" hidden class="form-control" asp-items="ViewBag.HymnID">
                        <option value="">Select Hymn</option>
                    </select>
                    <!-- <span asp-validation-for="MusicalNumberID" class="text-danger"></span> -->
                </div>
                <div class="form-group">
                    <label asp-for="MusicalPerformance" class="control-label" id="musicalPerformanceLabel"></label>
                    <button id="addMusicalPerformance" type="button">Add <i class="fa-solid fa-plus"></i></button>
                    <input asp-for="MusicalPerformance" hidden class="form-control" />
                    <!-- <span asp-validation-for="MusicalPerformance" class="text-danger"></span> -->
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymnID" class="control-label"></label>
                <select asp-for="ClosingHymnID" required class="form-control" asp-items="ViewBag.HymnID">
                    <option value="">Select Hymn</option>
                </select>
                <span asp-validation-for="ClosingHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DismissalHymnID" class="control-label"></label>
                <select asp-for="DismissalHymnID" required class="form-control" asp-items="ViewBag.HymnID">
                    <option value="">Select Hymn</option>
                </select>
                <span asp-validation-for="DismissalHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresidingID" class="control-label"></label>
                <select asp-for="PresidingID" required class="form-control" asp-items="ViewBag.BishopricID">
                    <option value="">Select Bishopric</option>
                </select>
                <span asp-validation-for="PresidingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConductingID" class="control-label"></label>
                <select asp-for="ConductingID" required class="form-control" asp-items="ViewBag.BishopricID">
                    <option value="">Select Bishopric</option>
                </select>
                <span asp-validation-for="ConductingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left"></i>Back to List</a>
</div>

<script type="text/javascript">
    const musicalNumber = document.getElementById('MusicalNumberID');
    const musicalPerformance = document.getElementById('MusicalPerformance');
    const musicalNumberBtn = document.getElementById('addMusicalNumber');
    const musicalPerformanceBtn = document.getElementById('addMusicalPerformance');
    const musicalNumberLabel = document.getElementById('musicalNumberLabel');
    const musicalPerformanceLabel = document.getElementById('musicalPerformanceLabel');
    const flex = document.querySelector('.btns-container');

    musicalNumberBtn.addEventListener('click', function() {
        musicalNumber.removeAttribute('hidden');
        musicalPerformanceBtn.style.display = 'none';
        musicalNumberBtn.style.display = 'none';
        musicalPerformanceLabel.style.display = 'none';
        flex.style.display = 'block';
    })

    musicalPerformanceBtn.addEventListener('click', function() {
        musicalPerformance.removeAttribute('hidden');
        musicalPerformanceBtn.style.display = 'none';
        musicalNumberBtn.style.display = 'none';
        musicalNumberLabel.style.display = 'none';
        flex.style.display = 'block';
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
