@model sacramentMeetingPlanner.Models.SacramentMeeting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SacramentMeeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SacramentMeetingID" />
            <div class="form-group">
                <label asp-for="Invocation" class="control-label"></label>
                <input asp-for="Invocation" class="form-control" />
                <span asp-validation-for="Invocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benediction" class="control-label"></label>
                <input asp-for="Benediction" class="form-control" />
                <span asp-validation-for="Benediction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymnID" class="control-label"></label>
                <select asp-for="OpeningHymnID" class="form-control" asp-items="ViewBag.HymnID"></select>
                <span asp-validation-for="OpeningHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymnID" class="control-label"></label>
                <select asp-for="SacramentHymnID" class="form-control" asp-items="ViewBag.HymnID"></select>
                <span asp-validation-for="SacramentHymnID" class="text-danger"></span>
            </div>
            <a asp-action="Index" asp-controller="Speaker">Edit Speakers</a>
            <div class="form-group">
                <label asp-for="ClosingHymnID" class="control-label"></label>
                <select asp-for="ClosingHymnID" class="form-control" asp-items="ViewBag.HymnID"></select>
                <span asp-validation-for="ClosingHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DismissalHymnID" class="control-label"></label>
                <select asp-for="DismissalHymnID" class="form-control" asp-items="ViewBag.HymnID"></select>
                <span asp-validation-for="DismissalHymnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresidingID" class="control-label"></label>
                <select asp-for="PresidingID" class="form-control" asp-items="ViewBag.BishopricID"></select>
                <span asp-validation-for="PresidingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConductingID" class="control-label"></label>
                <select asp-for="ConductingID" class="form-control" asp-items="ViewBag.BishopricID"></select>
                <span asp-validation-for="ConductingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
