@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sacrament Meeting Planner</h1>
    <p>Please select the Sacrament Meeting tab to create your program</p>
</div>
